@font-face {
    font-family: Lora;
    src: url(fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Jost;
    src: url(fonts/Jost-Light.ttf);
}

@font-face {
    font-family: NZ;
    src: url(fonts/PlaywriteNZ-Regular.ttf);
}

@font-face {
    font-family: Libre;
    src: url(fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: IBMP;
    src: url(fonts/IBMPlexSans-Light.ttf);
}

@font-face{
    font-family: MitrTH;
    src: url(fonts/Mitr-Regular.ttf)
}