body{
    background-color: hsl(0, 0%, 0%);
    margin: 0;
}
section{
    width: 50%;
    float: left;
    padding: 10px;
}
h2{
    font-family: Jost;
    font-size: 25px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    animation: slideIn 400ms ease-out forwards;
}
#p1{
    font-family: IBMP;
    font-size: 20px;
    font-weight: bolder;
    color: hsl(0, 0%, 100%);
    animation: slideIn 400ms ease-out forwards;
}
p{
    font-family: MitrTH;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    animation: slideIn 400ms ease-out forwards;
}
#img1{
    position: relative;
    display: block;
    left: 250px;
    animation: slideIn 400ms ease-out forwards;
}
#img2{
    position: relative;
    display: block;
    left: 210px;
    animation: slideIn 400ms ease-out forwards;
}
article{
    width: 40%;
    float: left;
}
a{
    text-decoration: none;
    animation: slideIn 400ms ease-out forwards;
}
dd{
    color: hsl(0, 0%, 100%);
    font-family: MitrTH;
    animation: slideIn 400ms ease-out forwards;
}
dt{
    font-family: IBMP;
    font-size: 20px;
    font-weight: bolder;
    color: hsl(0, 0%, 100%);
    animation: slideIn 400ms ease-out forwards;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
